$bgcolor: #efeff4;
$font_family_desktop: 'HelveticaNeue-Light', 'Helvetica-Neue', Roboto, sans-serif;
$font_family: -apple-system, 'Helvetica-Neue', Roboto, sans-serif;
$regular_fs: 19px;
$small_fs: 13px;
$large_fs: 19px;
$table-fs: 17px;
$bar_border: 1px solid rgba(216, 216, 216, .8);
$bar_border_light: 1px solid #e8e8e8;
$bar_border_svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#cccccc' x='0' y='0' width='1' height='0.5'/></svg>");
$images_dir: '../images/icons';
$active_color: #eee;
$action_color: #0076ff;

$row-h: 44px;
$row-ih: 43px;
$row-s-h: 31px;
$row-l-h: 71px;
$row-border-color: rgba(200, 199, 204, .5);

$gradient_red: linear-gradient(#f00, #c00);
$gradient_green: linear-gradient(#0a0, #080);
$gradient_yellow: linear-gradient(#ff0, #dd0);
$gradient_gray: linear-gradient(#aaa, #888);

$red: #f00;
$green: #0a0;
$yellow: #ff0;
$gray: #999;

$gray-b: rgba(black, 0.15);
$gray-w: rgba(white, 0.8);

html, body { font: $regular_fs $font_family; background: $bgcolor; }

body {
	-webkit-tap-highlight-color: transparent; // rgba(0,0,0,0)
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	text-rendering: optimizeLegibility;
}

.container {
	position: absolute; top: 44px; bottom: 49px; width: 100%; margin: 0;
	background: $bgcolor;
	-webkit-overflow-scrolling: touch; overflow-y: scroll;

	.page.padded & { padding: 35px 0; }
	.page.no-tabbar & { bottom: 0; }
}

#navbar {
	top: 0; position: fixed; width: 100%; height: 44px; background: #fff; z-index: 10;
	$padding: 10px;
	ul { margin: 0; padding: 0; list-style: none; background: #fff; border-bottom: $bar_border; }
	li { display: inline-block; padding: 0 0; height: $row-ih; line-height: $row-ih - 1; }
	li { color: #999; font-size: $table_fs; vertical-align: top; box-sizing: border-box; }
	li * { vertical-align: middle; }
	li.title { width: 73%; text-align: center; color: #333; font-weight: bold; -webkit-user-select: none; }
	li.buttons { width: 12%; cursor: pointer; }
	//	li.buttons:active { background: $active_color; }
	li.buttons .link { text-decoration: none; display: block; }
	//	li.buttons .link:active { background: $active_color; }
 	li.left { text-align: left; padding-left: $padding; }
	li.right { text-align: right; padding-right: $padding; }
	li.no-padding.left  { padding-left: 0; }
	li.no-padding.right { padding-right: 0; }
	li.no-padding.left .link { padding-left: $padding; }
	li.no-padding.right .link { padding-right: $padding; }
	li span.brand { font-style: italic; }
	li span.icon { font-size: 25px; color: $action_color; }
}

#tabbar {
	bottom: 0; position: fixed; width: 100%;
	ul.tabs { margin: 0; padding: 0; list-style: none; background: #fff; border-top: $bar_border; }
	li.tab { display: inline-block; width: 49%; height: 47px; }
	li.tab { text-align: center; color: #999; font-size: 12px; }
 	li.tab.active { color: $action_color; }
	li.tab .link { @extend .plain-inline-link; height: 47px; width: 100%; }
	//	li.tab a:active { background: $active_color; };
	li.tab .image { width: 23px; height: 23px; margin: 6px auto 4px; background-size: 100%; }
	li.statusbox          .image { background-image: url($images_dir + '/traffic_light_gray.png');  }
	li.statusbox.active   .image { background-image: url($images_dir + '/traffic_light_filled.png') }
	li.schedule           .image { background-image: url($images_dir + '/clock_gray.png'); }
	li.schedule.active    .image { background-image: url($images_dir + '/clock_filled.png') }
	li.map                .image { background-image: url($images_dir + '/compass_gray.png'); }
}

.tableview {
	width: 100%;

	//	Old 1px borders (2px on retina)
	//	tr { background: #fff; border-bottom: $bar_border_light; height: 44px; }
	//	tr:first-child { border-top: $bar_border_light;} ;

	tr { height: 44px; background: #fff repeat-x bottom left $bar_border_svg; }
	tr:first-child { background-color: #fff; background-image: $bar_border_svg, $bar_border_svg; background-position: top left, bottom left; background-repeat: repeat-x, repeat-x; }

	th { font-weight: normal; text-align: right; width: 30%; padding-right: 0.5em;}
	td { font-size: $table-fs; text-align: left; }

	&.slim tr.slim { height: 30px; }
	&.slim tr.slim th { font-size: $table-fs - 1; }
	&.slim tr { height: 36px; }

	&.one-column td:first-child { padding-left: 1em; font-size: 15px; color: #333; }

	.image { width: 30px; }

	th.time { padding: 0; }
	th.time div.time { width: 90px; margin: 0 auto; text-align: left; }
	thead th.time { font-weight: 100; background-color: #888; color: white; }
}

.disclosure { background: url($images_dir + '/forward_gray_ext.png') center right no-repeat;  background-size: 30px 20px; }
.checkmark { background: url($images_dir + '/checkmark_filled_ext.png') center right no-repeat;  background-size: 24px 16px; }
.touchable { -webkit-user-select: none; cursor: pointer; }
.touchable:active { background-color: $active_color; }
.plain-link { text-decoration: none; color: inherit; display: block; }
.plain-inline-link { text-decoration: none; color: inherit; display: inline-block; }
.debug-warn { margin: 5px; font-size: 12px; color: #f66; }
.debug-info { color: green; font-size: smaller; text-align: right; }
.debug-log { text-align: left; color: gray; font-size: 13px; padding: 10px; }

//p.grayed { color: #888; }
p.grayed { color: rgba(black, 0.5); }

body.android .ios-only { display: none; }
body.ios .android-only { display: none; }
